*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: rgb(30, 30, 30);
	text-align: center;
}

p{
	font-size: 20px;
	font-weight: 300;
	color: rgb(97, 97, 97);
	margin-bottom: 5px;
}

header{
	width: 100%;
	height: 200px;
	background-color: seashell;
}

input{
	width: 60px;
	color: rgb(0, 0, 0);
	background-color: #e2e2e2;
	text-align: center;
	cursor: pointer;
}

input::placeholder{
	color: rgb(138, 138, 138);
}

input:hover{
	background-color: #000000; 
	color: white;
	transition: 0.3s;
}

.title-page{
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.background-start{
	width: 100%;
	position: relative;
	top: -313px;
	filter: brightness(30%);
	height: 600px;
}

.h1-title{
	position:relative;
	z-index: 999;
	color: seashell;
	text-align: center;
	top: 73px;
	font-family: 'Righteous', cursive;
	letter-spacing: 0.2ch;
}

.wall-size{
	background-color: snow;
	position:relative;
	height: 200px;
	text-align: center;
	column-count: 5;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 25px;
	padding-bottom: 12px;
	font-family: 'Open Sans', sans-serif;
}

.calculate{
	position:relative;
	text-align: center;
	background-color: snow;
	padding-bottom: 40px;
}

.results{
	padding-top: 40px;
	position:relative;
	text-align: center;
}

.results span{
	color: white;
	text-align: center;
}

.m-input-info{
	transition: background-color .5s,color .5s,text-indent .5s;
	display: block;
	font-size: .75rem;
	width: 100%;
}

.h1-title-footer{
	position:relative;
	z-index: 999;
	text-align: center;
	font-family: 'Righteous', cursive;
	font-weight: 100;
	color:rgb(255, 255, 255);
}

.submit-button{	
	border-radius: 4px;
    background-color: #255a97;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
	margin-top: 5px;
	padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
    cursor: pointer;
}

.submit-button:active{
	transform: scale(0.98);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.submit-button span {
    position: relative;
    transition: 0.5s;
}

.paint{
	font-family: 'Open Sans', sans-serif;
	color:rgb(255, 255, 255);
}
